conda: (env = moldock-env)
-c rdkit rdkit
-c bioconda mgltools autodock-vina
-c moldesign moldesign
-c openbabel openbabel

for moldesign:
-c moldesign nbmolviz 
#-c conda-forge widgetsnbextension
#-c pyqc pyscf 
#-c omnia openmm
#-c omnia pdbfixer

